@charset "UTF-8";
/* CSS Document */

body{
	margin: 1%;
}
.logo{
	height: 150px;
	width: 500px;
	
}
img{
	float: left;
	max-height: 100%;
	max-width: 100%;
}
aside{
	display: block;
	width: 33.33%;
	height: 500px;
	/*background-image: url(img/Test 400x500.png);*/
}
article{
	width: 33.33%;
	height: 500px;
}

.banner{
	width: 33.33%;
	height: 500px;
}

nav{
	width: 100%;
	padding: 0px 0px 3px 0px;
}

nav a{
	font-size: 16px;
}

nav a:hover {
	font-size: 18px;
}
footer{
	background: #272727;
}

@media screen and (min-width: 1200px) {
	
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
}