@charset "UTF-8";
/* CSS Document */

body{
	margin: 1%;
}
.logo{
	height: 150px;
	width: 500px;
	
}
img{
	float: left;
	max-height: 100%;
	max-width: 100%;
}
aside{
	display: block;
	width: 33.33%;
	height: 500px;
	/*background-image: url(img/Test 400x500.png);*/
	margin-left: 0;
}
article{
	width: 33.33%;
	height: 500px;
	margin-left: 0;
}

.banner{
	width: 33.33%;
	height: 500px;
	margin-left: 0;
}

#kontakttekst {
	width: 60%;
}
#kontaktbillede {
	width: 29%;
	margin-right: 100px;
	margin-top: 35px;
	
}
.content{
	margin-bottom: 20px;
	display: block;
}
.content2{
	display: none;
}
nav{
	width: 100%;
	padding: 0px 0px 3px 0px;
}

nav a{
	font-size: 16px;
}

nav a:hover {
	font-size: 18px;
}
footer{
	display: block;
	background: #3D6BB4;
	width: 100%;
}

@media screen and (min-width: 1200px) {
	
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
}

button {
	padding: 10px 30px 10px 30px;
	margin: 10px;
	margin-right: 40px;
	float: right;
	font-size: 20px;
	margin-bottom: 30px;
	color: white;
	background-color: #3d6bb4;
	
}